@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --purple-700: hsl(257, 40%, 49%);
    --magenta-400: hsl(300, 69%, 71%);

    --fw-400: 400;
    --fw-600: 600;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: var(--fw-400);
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--purple-700);
    color: white;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 68px 58px;
    padding-block: 64px;
    width: min(100%, 800px);
    margin-inline: auto;

    > :not(:first-child) {
        margin-inline-start: 6px;
    }
}

.img_logo {
    height: 64px;
    align-self: start;
}

.img_mockup {
    padding-block-start: 120px;
    padding-block-end: 120px;
    width: min(100%, 697px);
}

h1 {
    font-family: Poppins, sans-serif;
    font-size: 47px;
}

p {
    font-size: 32px;
    padding-block-start: 30px;
}

button {
    max-width: fit-content;
    align-self: center;
    padding: 20px 150px;
    border-radius: 100vh;
    margin-block-start: 47px;
    font-size: 26px;
    border: white;
    color: var(--purple-700);
    background: white;
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    &:hover, &:focus {
        color: white;
        background: var(--magenta-400);
    }
}

.socials {
    margin-block-start: 132px;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 26px;
}

.circle {
    border: 2px solid white;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 50px;
    display: grid;
    place-content: center;
    cursor: pointer;

    &:hover, &:focus {
        border-color: var(--magenta-400);
        color: var(--magenta-400);
    }
}

@media (width >= 800px) {
    body {
        background-image: url("../images/bg-desktop.svg");
        background-position: -87px -12px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        display: block;
        width: 100%;
        padding-block: 54px;
        padding-inline: 67px 0;
    }

    .img_logo {
        height: 53px;
        padding-inline: 4px;
    }

    .img_mockup {
        width: 100%;
        padding-block-start: 86px;
        padding-block-end: 0px;
    }

    section {
        display: grid;
        grid-template-columns: auto 1fr;

        .content {
            text-align: left;
            padding-inline-start: 53px;
        }

        h1 {
            margin-block-start: 129px;
            font-size: 40px;
            font-weight: var(--fw-400);
            letter-spacing: 0.4px;
        }

        p {
            margin-block-start: 18px;
            padding-block-start: 0px;
            margin-inline-end: 81px;
            font-size: 18px;
            line-height: 1.55;
            opacity: 0.8;
        }

        button {
            margin-block-start: 23px;
            padding: 14px 64px;
            font-size: 19px;
        }

        .socials {
            margin-block-start: 183px;
            margin-inline-end: 79px;
            font-size: 16px;
            justify-content: flex-end;
            gap: 17px;
        }

        .circle {
            width: 40px;
            border-width: 1px;
        }
    }
}
